extends ./base.jade
block title
    title Hey, admin!
block main
    section.fees
        table.table
            thead.thead-default: tr
                th Action
                th User
                th Money
                th Date
                th Event
                th Parts
            tbody: tr
    // .container-fluid.card
    section.events.flexbox
