html
    head
        block title
        meta(charset="utf-8")
        meta('http-equiv' = "X-UA-Compatible", content = "IE=edge")
        meta(name = "viewport", content = "width=device-width, initial-scale=1")
        link(rel = "stylesheet", href = "css/bootstrap.min.css")
        link(href='css/styles.css' rel='stylesheet')
    body
        header.flexbox
            p: span#error
            span Welcome, 
                span#user
            p: Your summary debt:
                span(class="debt")
            .buttons.flexbox
                form#eventform(methor = "get", action = "/addevent")
                    input.btn.btn-primary(type = "submit", value = "ADD EVENT")
                form#logform(methor = "post", action = "/logout")
                    input.btn.btn-primary(type = "submit", value = "LOGOUT")

        main
            block main
        script(src = "/js/jquery-2.1.4.min.js")
        script(src = "/js/bootstrap.min.js")
        script(src = "/js/main.js")
