article.event.card
    .name
    .date
    .action
        .money
        button.btn.btn-primary(data-toggle="tooltip" data-placement="right" title="")
        input.parts.form-control(type = "number")
