form.event.col-lg-2.col-sm-6(method="post" action="/act")
    input.form-control(class="name" id="name" type="text" readonly="" value="" name="event-name")
    input.form-control(class="date" id="date" type="text" readonly="" value="" name="date")
    input.form-control(class="author" id="author" type="text" readonly="" value="" name="author")
    input.form-control(class="price" id="price" type="text" name="price" readonly="" value="")
    #parts-row
    input.form-control(class="debt" id="debt" type="text" name="debt" readonly="" value="")
    input.btn.action.pay(type="submit" name="action" value="pay")
    input.btn.action.participate(type="submit" name="action" value="participate")
    input.btn.action.start(type="submit" name="action" value="start")
article.event2
    .name
    .date
    .action
