extends base.jade
block title
  title OhMyBank
block main
  section
      form(method="get" action="/register" id="regform")
          input(type="submit" value="log up")
      form(method="post" id="logform" action="/login")
          input(type="text" name="username" placeholder="username")
          input(type="password" name="password" placeholder="password")
          input(type="submit" value="log in")
      span#error
