extends ./page.jade

block title

block header

block main
    form
        select.form-control.users(name ="target[]")
            option
        input.balance(type="number", value="0")
        button(type="submit")

block scripts
    script(src = "/js/balance-updater.js")
