extends ./base.jade
// ===========================================
block title
// ===========================================
block header
    header.flexbox
        #errorbox.centered.alert.alert-danger
            .message
            strong: .description
            button.btn.btn-sm.btn-danger(onclick = "hideParent(this)") x
        span Welcome,
            span#user
        p: Your summary debt:
            span(class="debt")
        .buttons.flexbox
            form#eventform(methor = "get", action = "/addevent")
                input.btn.btn-primary(type = "submit", value = "ADD EVENT")
            form#logform(methor = "post", action = "/logout")
                input.btn.btn-primary(type = "submit", value = "LOGOUT")
            block buttons
// ===========================================
block main

block body
    script(src = "/js/main.js")
// ===========================================
