extends ./base.jade
block title
    title Registration
block header

block main
    p#uname
    p#error
    form(method="post" action="/register")
        .form-group.row
          label(for="username") Name:
              input(type="text" id="username" name="username")
        .form-group.row
            label(for="birthdate") Birth date:
                input(type="date" id="birthdate" name="birthdate")
        .form-group.row
            label(for="password1") Password:
                input(type="password" id="pass1" name="password1")
        .form-group.row
            label(for="password2") One more time:
                input(type="password" id="pass2" name="password2")
        .form-group.row
            label(for="student-flag") Student?
                input(type="checkbox" id="student-flag" name="student-flag")
        button.btn.btn-primary(type="submit")
