extends ./base.jade
block title
    title Registration
block header

block main
    p#error
    form(method="post" action="/register")
        .form-group.row.col-md-12
            label.form-control-label.col-md-2(for="username") Name:
            .col-md-10
                input.form-control(type="text" id="username" name="username")
        .form-group.row.col-md-12
            label.form-control-label.col-md-2(for="birthdate") Birth date:
            .col-md-10
                input.form-control(type="date" id="birthdate" name="birthdate")
        .form-group.row.col-md-12
            label.form-control-label.col-md-2(for="password1") Password:
            .col-md-10
                input.form-control(type="password" id="pass1" name="password1")
        .form-group.row.col-md-12
            label.form-control-label.col-md-2(for="password2") One more time:
            .col-md-10
                input.form-control(type="password" id="pass2" name="password2")
        .form-group.row.col-md-12
            label.form-control-label.col-md-2(for="student-flag") Student?
            .col-md-10
                input.form-control.checkbox(type="checkbox" id="student-flag" name="student-flag")
        button.btn.btn-primary(type="submit") Log up
