%html
  %body
    %form{ :class => "event", :method => "post", :action => "/act" }
      %table
        %tr
          %td
            %label{ :for => "name" }
              Event:
          %td
            %input{ :class => "name", :id => "name", :type => "text", :readonly => "", :value => "", :name => "event-name" }
        %tr
          %td
            %label{ :for => "date" }
              Date:
          %td
            %input{ :class => "date", :id => "date", :type => "text", :readonly => "", :value => "", :name => "date" }
        %tr
          %td
            %label{ :for => "author" }
              Author:
          %td
            %input{ :class => "author", :id => "author", :type => "text", :readonly => "", :value => "", :name => "author" }

        %tr
          %td
            %label{ :for => "price" }
              Price:
          %td
            %input{ :class => "price", :id => "price", :type => "text", :name => "price", :readonly => "", :value => "" }

        %tr{ :id => "parts-row" }
        %tr
          %td
            %label{ :for => "debt" }
              Your debt:
          %td
            %input{ :class => "debt", :id => "debt", :type => "text", :name => "debt", :readonly => "", :value => "" }
        %tr
          %td
            %input{ :type => "submit", :class => "action pay", :name => "action", :value => "pay" }
          %td
            %input{ :type => "submit", :class => "action participate", :name => "action", :value => "participate" }
          %td
            %input{ :type => "submit", :class => "action start", :name => "action", :value => "start" }
