%html
  %head
    %title Hey, admin!
    %meta{ :charset=>"utf-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
  %body
    %header
      %span#error
      %span Welcome, 
        %span#user
      %p 
        %span.debt
      %form#eventform{ :methor => "get", :action => "/addevent"}
        %input{ :type => "submit", :value => "Add event"}
    %main
      %section.fees
        %article
      %section.events
        %article
