.centered {
  position: fixed;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0);
}

#errorbox {
	display: none;
}

#errorbox * {
    display: inline-block;
}

#errorbox button {
    padding: 0 .5rem;
}

body {
    margin-left: 1rem;
    margin-right: 1rem;
}
main {
    margin: auto;
}
section {
    padding-top: .5rem;
    padding-bottom: 2em;
}
section.fees {
    padding-top: 0;
}

.action {
    min-width: 2em;
    min-height: 2em;
    position: relative;
}

/*
.action::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.action.start::after {
    background: url('../img/start.png') no-repeat transparent;
    background-position: center;
    background-size: 1rem;
}
.action.participate::after {
    background: url('../img/participate.png') no-repeat transparent;
    background-position: center;
    background-size: 1.7rem;
}
.action.pay::after {
    background: url('../img/pay.png') no-repeat transparent;
    background-position: center;
    background-size: 1rem;
} */

header > .buttons {
    align-self: flex-end;
    margin-left: auto;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    justify-content: space-around;
}
.flexbox > * {
    margin: 0.5rem;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .4rem;
    padding: 0.1rem;
    width: 9rem;
}

@media (max-width: 320px) {
.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .4rem;
    width: 7rem;
}

}
