.centered {
  position: fixed;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0);
}

#errorbox {
    display: none;
}

#errorbox * {
    display: inline;
}

#errorbox button {
    padding: 0 .5rem;
}

body {
    margin-left: 1rem;
    margin-right: 1rem;
}
main {
    margin: auto;
}
section {
    padding-top: .5rem;
    padding-bottom: 2em;
}
section.fees {
    padding-top: 0;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.event .field {
    padding: 0 0.1rem 0 0.1rem;
}

.event .action {
    min-width: 2rem;
    min-height: 2rem;
    position: relative;
}
.event .action > button {
    display: inline-block;
}

.event .parts {
    width: 3.5rem;
    display: inline-block;
}




/*
.action::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.action.start::after {
    background: url('../img/start.png') no-repeat transparent;
    background-position: center;
    background-size: 1rem;
}
.action.participate::after {
    background: url('../img/participate.png') no-repeat transparent;
    background-position: center;
    background-size: 1.7rem;
}
.action.pay::after {
    background: url('../img/pay.png') no-repeat transparent;
    background-position: center;
    background-size: 1rem;
} */

header > .buttons {
    align-self: flex-end;
    margin-left: auto;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    justify-content: space-around;
}
.flexbox > * {
    margin: 0.5rem;
}

.fee {
    margin: 0.4rem;
    display: inline-block;
}
.fee > * {
    padding: 0.2rem;
    text-align: center;
}


.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .4rem;
    padding: 0.1rem;
    width: 15rem;
}

.event > * {
    padding: .5rem 1rem 1rem 1rem;
}

/* Div with form on moneyout page. */
.userform {
    text-align: center;
    margin: 2rem auto 1rem auto;
    padding: 1rem;
}

@media (max-width: 320px) {
.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .4rem;
    width: 7rem;
}
}
